:80 {
    root * /var/www/html/public
    php_fastcgi php:9000
    encode gzip
    file_server

    @notFound {
        not path /uploads/* /assets/* /favicon.ico
        not file
    }
    rewrite @notFound /index.php?{query}
}
